{{!-- {{ data.price}} --}}
<div class="card mb-6">
  <div class="row no-gutters">
    <div class="col-md-5">
        {{!-- vi chua co data.img nen lay hinh co san ava01 minh hoa --}}
      <img src="/{{data.img}}" class="card-img" title="Laptop {{data.name}}">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h1 class="card-title"><strong>{{data.name}}</strong></h1>
        <h4><p>{{data.description}} </p></h4>
        <p class="card-text" >Giá: <strong style="color: red">{{data.price}} đ</strong></p>
        <div class="card w-100">
        <div class="card-body">
        <h5 class="card-title">Mô tả</h5>
        <p class="card-text"><strong>Laptop {{data.name}}</strong></p>
        <p class="card-text">- Thương hiệu: {{data.brand.name}}</p>
        <p class="card-text">- Chip: {{data.chip.name}}</p>
        <p class="card-text">- VGA: {{data.vga.name}}</p>
        <p class="card-text">- RAM: {{data.ram.name}} </p>
        <p class="card-text">- Kích thước: {{data.size}} </p>
        </div>
</div>
 </div>
    {{!-- cart button --}}
    <center>
      <div class="btn-group" role="group" style="margin-top: -20px;margin-right: 20px">
				<input type="hidden" name="quantity" id="quantity" value="1"></input>
					<button type="button" class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value" class="btn btn-default">-</button>
					<input type="number" id="number" value="0" class="btn-default" style="width:50px; padding:5px" />
					<button type="button" class="value-button" id="increase" onclick="increaseValue()" value="Increase Value" class="btn btn-default">+</button>
				</div>        
    <form action="/cart/add/{{data.id}}" method="post" class="cart">
      <button type="submit" class="btn btn-danger btn-lg">
          <span class="fa fa-cart-plus" style="margin-right: 20px"></span>Thêm vào giỏ
      </button>
        
        </form>
    </center>
      
    </div>
  </div>
</div>

<script>
  function increaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('number').value = value;
}

function decreaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? value = 1 : '';
  value--;
  document.getElementById('number').value = value;
}
</script>